<!Doctype Html>
<Html>

<Head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style-contact.css">
    <script src="https://kit.fontawesome.com/af49c267f3.js" crossorigin="anonymous"></script>
    <Title>
        Contact Me
    </Title>
</Head>

<Body>
    <nav class="route-tab-bar">
        <a href="/home">Home</a>
        <a href="/blog">Blog</a>
        <a href="/login">Login</a>
    </nav>
    <div class="main">
        <h1>Contact me</h1>
        <p> Phone: +98XXXXXXXXXX </p>
        <p> Email: benyamin.zojaji@yahoo.com</p>
        
        
        </form>
    </div>

    <div class="stickyicon-list">
        <a href="#xxxx" class="x-twitter">
            <i class="fa-brands fa-x-twitter"></i>
        <a href="www.linkedin.com/in/benyaminzojaji" class="linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/bniws" class="instagram">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="t.me/Benyamin_Zojaji" class="telegram">
            <i class="fa fa-telegram"></i>
        </a>
    </div>
</Body>

</Html>